**/result
result*
**/result/
# Emacs auto-save, etc.
*~
.#*
*#

.nixd.nix
.nixd.json

tags

nvim/.netrwhist
config/nvim/spell/

# ignore contents of emacs.d
emacs.d/*
elpa
*.elc
# except:
!emacs.d/eshell/alias
!emacs.d/lisp
!emacs.d/snippets
!emacs.d/themes
!emacs.d/config
!emacs.d/*.org
!emacs.d/*.el
history.el

config/unused/emacs/emacs.d/.cache/
config/unused/emacs/emacs.d/Org/
config/unused/emacs/emacs.d/bookmarks
config/unused/emacs/emacs.d/configuration.bash
config/unused/emacs/emacs.d/configuration.latex
config/unused/emacs/emacs.d/history
config/unused/emacs/emacs.d/ltximg/
config/unused/emacs/emacs.d/pandoc-mode/
config/unused/emacs/emacs.d/xenops/
test.png

tmp

*.ignore.*
**/eln-cache
**/ido.last
overlays/tree-sitter
