**/result
result
**/result/
# Emacs auto-save, etc.
*~
.#*
*#

.nixd.nix
.nixd.json

tags

nvim/.netrwhist
config/nvim/spell/

# ignore contents of emacs.d
emacs.d/*
elpa
*.elc
# except:
!emacs.d/eshell/alias
!emacs.d/lisp
!emacs.d/snippets
!emacs.d/themes
!emacs.d/config
!emacs.d/*.org
!emacs.d/*.el
lazy-lock.json

tmp
