#$include /etc/inputrc 
#^^^ non-extant  @17/06/11/11/57/31


set bell-style visible
set disable-completion off
set input-meta on 
set output-meta on 
set convert-meta off # allow utf8 i/o 

set mark-directories on


set bind-tty-special-chars off #adds punctuation as word delimiters

#history 
set history-size -1

set blink-matching-paren on 

set visible-stats on

set keyseq-timeout 150 
set show-mode-in-prompt on 

set vi-cmd-mode-string "n " #\033[01;34m
set vi-ins-mode-string "i " #\033[01;37m


set editing-mode vi
#insert mode bindings
#]
$if mode=vi
    #insert mode 
    set keymap vi-insert 
    "\en": menu-complete
    "\ep": menu-complete-backward
    "\C-n": history-search-forward
    "\C-p": history-search-backward
    "\C-l": clear-screen 
    "\C-a": beginning-of-line
    "\C-e": end-of-line
    "jk": vi-movement-mode 
    "\C-y": vi-yank-arg
    "\C-w": backward-kill-word

    # kill 'til end-of-line 
    "\C-k": kill-line
    "\ed": kill-word

    # forwards word
    "\ef": vi-forward-word
    "\eb": vi-backward-word
    #"\C-f":
    # backwards word
    # undo -- c-_ is bound by X window manager (zoom)
    #

    #normal mode bindings
    set keymap vi-command
    "\C-l": clear-screen 
    "gg": beginning-of-history
    "G": end-of-history
    "\C-a": beginning-of-line
    "\C-e": end-of-line
    "\C-y": vi-yank-arg
    "u": undo
    "\C-r": vi-redo
    "\ef": vi-forward-word
    "\eb": vi-backward-word
    "\ed": kill-word
    

$endif

set show-all-if-ambiguous on #enable single tab completion
set show-all-if-unmodified on #list immediately, no bell if ambiguous
set completion-ignore-case on 
set skip-completed-text on
set colored-completion-prefix on  
set colored-stats on 




